{% extends "base.html" %}

{% block head %}
    <title>PatternCraft Lab - Изменение пароля</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block content %}
<section class="account-info wrapper">
    <div class="profile-header">
        <h2 class="big-text-size">Изменить пароль</h2>
    </div>
    <p class="small-text-size formatted-text">Введите текущий и новый пароль для обновления.</p>

    <form class="change-password-form card block-light">
        <div class="form-group">
            <label for="current_password"><strong>Текущий пароль:</strong></label>
            <input type="password" id="current_password" name="current_password" class="block-light full-width" placeholder="Текущий пароль">
        </div>
        <div class="form-group">
            <label for="new_password"><strong>Новый пароль:</strong></label>
            <input type="password" id="new_password" name="new_password" class="block-light full-width" placeholder="Новый пароль">
        </div>
        <div class="form-group">
            <label for="confirm_password"><strong>Подтвердите новый пароль:</strong></label>
            <input type="password" id="confirm_password" name="confirm_password" class="block-light full-width" placeholder="Подтвердите новый пароль">
        </div>
        <div class="actions cards-area gap-10">
            <button type="submit" class="button block-dark full-width gradient-button" aria-label="Сохранить новый пароль">
                Сохранить пароль
            </button>
            <a href="{{ url_for('profile.profile') }}" class="button block-dark full-width gradient-button" role="button" aria-label="Отменить редактирование">
                Отмена
            </a>
        </div>
    </form>
</section>
{% endblock %}