{% extends "base.html" %}

{% block head %}
    <title>PatternCraft Lab - Изменение пароля</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block content %}
<section class="account-info wrapper">
    <div class="profile-header">
        <h2 class="big-text-size">{{ _('password_change') }}</h2>
    </div>
    <p class="small-text-size formatted-text">{{ _('password_change_instruction') }}</p>

    <form class="change-password-form card block-light">
        <div class="profile-form-group">
            <label for="current_password"><strong>{{ _('password_current_password_label') }}</strong></label>
            <input type="password" id="current_password" name="current_password" class="block-light full-width" placeholder="{{ _('password_current_password_placeholder') }}">
        </div>
        <div class="profile-form-group">
            <label for="new_password"><strong>{{ _('password_new_password_label') }}</strong></label>
            <input type="password" id="new_password" name="new_password" class="block-light full-width" placeholder="{{ _('password_new_password_placeholder') }}">
        </div>
        <div class="profile-form-group">
            <label for="confirm_password"><strong>{{ _('password_confirm_password_label') }}</strong></label>
            <input type="password" id="confirm_password" name="confirm_password" class="block-light full-width" placeholder="{{ _('password_confirm_password_placeholder') }}">
        </div>
        <div class="actions cards-area gap-10">
            <button type="submit" class="button block-dark full-width gradient-button profile-action" aria-label="{{ _('password_save_button_label') }}">
                {{ _('password_save_button_text') }}
            </button>
            <a href="{{ url_for('profile.profile') }}" class="button block-dark full-width profile-action" role="button" aria-label="{{ _('password_cancel_button_label') }}">
                {{ _('password_cancel_button_text') }}
            </a>
        </div>
    </form>
</section>
{% endblock %}