{% extends 'base.html' %}

{% block title %}
{{ _('courses_list_title') }}
{% endblock %}

{% block content %}
<h2>{{ _('courses_list_title') }}</h2>
<div class="cards-area">
	{% for course in courses %}
		<a href="/course/{{ course.id }}" class="button block-light card sequential-card">
			<img src="{% if course.image_url %} {{ course.image_url }} {% else %} /static/img/courses/{{ course.id }}.png {% endif %}" alt="">
			<div class="information">
				<p><strong>{{ course.name }}</strong></p>
				<p>{{ course.description }}</p>
			</div>
		</a>
	{% endfor %}
	<a href="/course/create" class="button block-light card sequential-card">
		<img src="/static/img/add.png" alt="">
		<div class="information">
			<p><strong>{{ _('courses_list_create_course') }}</strong></p>
		</div>
	</a>
</div>
<br><br>
<form action="/download_course" method="get">
	<div class="one-line" style="justify-content: space-between; align-items: center;">
		<input class="block-light" type="text" name="course_link" placeholder="{{ _('courses_list_course_link_placeholder') }}" required>
		<input type="submit" class="button block-light" value="{{ _('courses_list_download_course') }}">
	</div>
</form>
{% endblock %}

{% block script %}
{% endblock %}
