{% extends "base.html" %}

{% block head %}
    <title>PatternCraft Lab - {{ _('login_title') }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block content %}
<section class="account-info wrapper">
    <div class="profile-header">
        <h2 class="big-text-size">{{ _('login_header') }}</h2>
    </div>
    <p class="small-text-size formatted-text">{{ _('login_info') }}</p>

    <form class="change-password-form card block-light" method="POST">
        <div class="profile-form-group">
            <label for="base_url"><strong>{{ _('login_base_url') }}</strong></label>
            <input type="text" id="base_url" name="auth.base_url" class="block-light full-width"
            value="{{ base_url or 'http://localhost/' }}">
        </div>
        <div class="profile-form-group">
            <label for="email"><strong>{{ _('login_email_title') }}</strong></label>
            <input type="text" id="email" name="auth.email" class="block-light full-width" placeholder="{{ _('login_email_header') }}"
            value="{{ email }}">
        </div>
        <div class="profile-form-group">
            <label for="password"><strong>{{ _('login_password_title') }}</strong></label>
            <input type="password" id="password" name="auth.password" class="block-light full-width" placeholder="{{ _('login_passowrd_header') }}"
            value="{{ password }}">
        </div>
        <div class="actions cards-area gap-10">
            <button type="submit" class="button block-dark full-width gradient-button profile-action" aria-label="{{ _('login_submit_header') }}">
                {{ _('login_submit_title') }}
            </button>
        </div>
    </form>
</section>
{% endblock %}