{% extends 'base.html' %}

{% block title %}
{{ _('problems.title') }} <!-- Main -->
{% endblock %}

{% block content %}
<h2>{{ _('problems.heading') }}</h2> <!-- Задачи -->
<div class="cards-area">
{% for problem in problems %}
	<a href="/problem/{{ problem.id }}" class="button block-light card sequential-card">
		<span>
			<p><strong>{{problem.name}}</strong></p>
			<p>
				<span class="cards-area gap-10">
				{% for tag in problem.tags %}
					<span class="block-dark">
						{{ tag }}
					</span>
				{% endfor %}
				</span>
			</p>
		</span>
	</a>
{% endfor %}
	<a href="/create/problem" class="button block-light card sequential-card problem-card">
		<img src="/static/img/add.png" alt="">
		<p><strong>{{ _('problems.create') }}</strong></p> <!-- Создать задачу -->
	</a>
</div>
<br>
{% endblock %}

{% block script %}
{% endblock %}
