{% extends 'base.html' %}

{% block title %}
    {{ _('account_title') }}
{% endblock %}

{% block content %}
    <h2>{{ _('account_title') }}</h2>

    <form method="post">
        <p>{{ _('base_url_for_web_service') }}</p>
        <input name="auth.base_url" class="block-light full-width" type="text" value="{{ config.auth.base_url }}">
        <br>
        <p>Email</p>
        <input name="auth.email" class="block-light full-width" type="text" value="{{ config.auth.email }}">
        <br>
        <p>{{ _('password') }}</p>
        <input name="auth.password" class="block-light full-width" type="password" value="{{ config.auth.password }}">
        <br><br><br>

        <input type="submit" class="button card block-light" href="#" value="{{ _('save') }}">

    </form>

    <br><br>
{% endblock %}

{% block script %}
{% endblock %}
