{% extends 'base.html' %}

{% block title %}
{% if section %}
    {{ _('section_form_edit_title') }}
{% else %}
    {{ _('section_form_create_title') }}
{% endif %}
{% endblock %}

{% block content %}
<h2>
    {% if section %}
        {{ _('section_form_edit_title') }}
    {% else %}
        {{ _('section_form_create_title') }}
    {% endif %}
</h2>
<br>

<form method="post">
    <p>{{ _('section_form_name') }}</p>
    <input name="name" class="block-light full-width" type="text" value="{{ section.name }}">
    <br>
    <p>{{ _('section_form_description') }}</p>
    <input name="description" class="block-light full-width" type="text" value="{{ section.description }}">
    <br><br>

    <div class="one-line">
        <label class="switch">
            <input 
                type="checkbox"
                id="theme-switcher"
                name="in_practice"
                value="on"
                {% if not section or section.in_practice %}checked{% endif %}
            >
            <span class="slider"></span>
        </label>
        <span>{{ _('section_form_add_to_practice') }}</span>
    </div>
    <br><br>

    <input
        type="submit"
        class="button card block-light"
        href="#" 
        value="{% if section %}{{ _('section_form_edit') }}{% else %}{{ _('section_form_create') }}{% endif %}"
    >

</form>

<br><br>
{% endblock %}

{% block script %}
{% endblock %}
